.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-gray {
    background-image: linear-gradient(to bottom, #9dd4c4, #dde1af);
}

.bg-purple {
    background-image:rgb(255, 255, 255);
}


.maysa-head {
    color: rgb(46, 83, 72);
}

.texthead {
    color: rgb(196, 64, 41);
}

.describe {
    color: rgb(79, 63, 49);
}
.font {
  font-family: 'Playpen Sans Thai', sans-serif;
  font-weight: 400;
  font-size: 100%
}

.content-box {
     background-color: white;
      max-width: 800px;
      margin: 0 auto;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
}

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@0,400&display=swap')
