.bg-white {
    background-color: rgb(248, 246, 223);
}

.bg-gray {
    background-color:rgb(223, 248, 239);
}

.bg-purple {
    background-color:rgb(248, 246, 223);
}


.maysa-head {
    color: rgb(46, 83, 72);
}

.texthead {
    color: rgb(196, 64, 41);
}

.describe {
    color: rgb(79, 63, 49);
}
.font {
  font-family: 'Playpen Sans Thai', sans-serif;
  font-weight: 400;
  font-size: 100%
}

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@0,400&display=swap')
